
$search-bg-color: #242628;
$icon-color: #00FEDE;
$transition: all .5s ease;



.search {
 
  width: 8em;
  height: 7em;
  margin: 2em auto 0;
  background-color: $search-bg-color;
  position: relative;
  overflow: hidden;
  transition: $transition;
  &:before {
    content: '';
    display: block;
    width: .5em;
    height: 100%;
    position: relative;
    background-color: $icon-color;
    transition: $transition;
  }
  &.open {
    width: 50rem;
    &:before {
      height: 25em;
      // margin: 20px 0 20px 30px;
      position: absolute;
    }
  }
}

#search-box {
  width: 25em;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: beige;
  padding: .5em 5em .5em 2em;
  font-size: 2em;
  &:focus {
    outline: none;
  }
}

.search-button {
  width: 9em;
  height: 2em;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2em;
  cursor: pointer;
}

.search-icon {
  width: 2em;
  height: 2em;
  
  border-radius: 1em;
  border: .2em solid $icon-color;
  display: block;
  position: relative;
  margin-left: 1.5em;
  
  transition: $transition;
  &:before {
    content: '';
    width: .42em;
    height: 1em;
    position: absolute;
    right: -.4em;
    top: 1.4em;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  &:after {
    content: '';
    width: .4em;
    height: 1rem;
    position: absolute;
    right: -1em;
    top: 2.05em;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  .open & {
    margin-top: -.6em;
    width: 4em;
    height: 4em;
    border-radius: 5em;
    &:before {
      transform: rotate(52deg);
      right: 1.4em;
      top: 1.5em;
      height: 1.5em;
    }
    &:after {
      transform: rotate(-230deg);
      right: 1.4em;
      top: .7em;
      height: 1.5em;
    }
  }
}