@import "searchbox.css";

body,html,div,section,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 
}



.header{
    overflow-y: none;
    
    height: 100vh;
background-image: url("images/bg-main.jpg");
background-repeat: no-repeat;
background-size: 100% 100% ;

}

.second_section{
    overflow-y: none;
    
    /* height: 100vh; */
  
}

#logo{
    height: 3em;
    width: 3em;
}

 .bg-color.scrolled{
     transition: 900ms ease;
     background-color: #21D192;
 }
 
 .top_header{
     /* width: 100vw; */
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
 }



.main_heading{

 text-transform: uppercase;
/* padding-left: 1.2em; */
 font-size: 5em;

 font-family: 'Concert One', cursive;
 position: relative;
    -webkit-text-stroke: 0.3vw #383d52;
}

#main_para{
    color: goldenrod;
    font-family:'Raleway', sans-serif;
    letter-spacing: .3em;
    /* padding-left: 4vw; */
    font-size: 1em;
}


.arrowdown{
    height: 7vh;
    width: 10vw;
    /* padding-left: 2.5vw; */
}

#arrowdiv,#image-div{
    --animate-duration: 1.5s;
}

.attention{
    text-transform: uppercase;
    /* font-weight: bold; */
    color: #01fe87;
    
}


.main_heading:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 4px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;}
 
@keyframes animate {
    0%,10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

.animate__animated.animate__fadeInBottomLeft {
    --animate-duration: 2s;
  }

.search-head{
  font-weight: bolder;
}

.search-head-h1{
    background-color: goldenrod;
    border-radius: .5em;
    text-transform: uppercase;
}

.page-heading{
    font-size: 2em;
    font-weight: bold;
    /* width: 50%; */
    background-color: #38AF9B;
    border-radius: .5em;
}

/* ******************Responsive Css ******************** */

@media only screen and (max-width: 497px) and (min-width: 370px){


.arrowdown {
 
   width: 15vw;
   /* margin-left: 12vw; */
}


}
  
@media only screen and (max-width: 470px) and (min-width: 380px){

  

.search{
width: 5em;
height: 5em;
    }
.search:before{
    width: .3em;
}

.search-icon{
    width: 1.7em;
  height: 1.8em;
  border-radius: 1em;
  /* padding-left: 2em; */
  margin-top: -.7em;
  margin-left: 3em;
}

.search-icon:before{
    width: 1vw;
    height: 3vh;
    top: 2.2vh;
    right: -2.5vw;
}


.search-icon:after {
    width: 1vw;
    height: 3vh;
    top: 2.2vh;
    right: -2.5vw;
}
.search.open{
    width: 20em;
}
.open .search-icon{
    margin: 0;
    width: 2.2em;
    height: 2.2em;
    border-radius: 2em;
    
    margin-left: 3em;
    margin-top: -.5em;
}

.open .search-icon:before{
    right: .7em;
    top: .68em;
    height: 1em;
}

.open .search-icon:after {
    right: .7em;
    top: .18em;
    height: 1em;
}

#search-box{
    padding: 2vw 20vw 2vw 12vw;
    font-size: larger;
}


}

@media only screen and (max-width: 1000px) and (min-width: 600px){

    .search.open {
        width: 30em;
      }
      #search-box{
        padding: .4em 14em .5em 2em;
      }
}

@media only screen and (max-width: 600px) and (min-width: 470px){
    .search.open {
        width: 25em;
      }
      #search-box{
        padding: .4em 15em .5em 2em;
      }
}


@media only screen and (max-width: 649px) and (min-width: 495px){

}

@media only screen and (max-width: 1000px) and (min-width: 880px){
  
    }
  
